<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="https://cdn.discordapp.com/attachments/1116475279012003931/1120062108873281676/robux.png">
  <link rel="stylesheet" href="../themes/main.css">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet">
  <meta name="og:description" content="The Robux Bot Dashboard is a web-based interface that provides users with convenient access and control over various features and functionalities of a Robux bot. This dashboard serves as a centralized hub where users can manage their Robux balances, perform transfers, view group information, and interact with the bot's commands."> 
  <meta name="description" content="The Robux Bot Dashboard is a web-based interface that provides users with convenient access and control over various features and functionalities of a Robux bot. This dashboard serves as a centralized hub where users can manage their Robux balances, perform transfers, view group information, and interact with the bot's commands.">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@0ac23ca/css/all.css" rel="stylesheet"
    type="text/css" />
  <link rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/1116475279012003931/1120062108873281676/robux.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <title><%= title %></title>
</head>
<body>
  <header class="navbar navbar-expand-lg navbar-light border-bottom">
  <div class="container-fluid">
  <a class="navbar-brand fs-6 side-line text-light " href="#"><%= client.user.tag%></a>
  <div class="position-absolute top-50 start-50 translate-middle border rounded-pill border-secondary p-1" style="min-height: 2rem !important" id="navbarSupportedContent">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="/commands">Commands</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="/dashboard">Tranfer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled text-muted" href="#" tabindex="-1" aria-disabled="true">Support</a>
    </li>
  </ul>
  </div>
  <div class="d-flex align-items-center">
  <img src="https://cdn.discordapp.com/avatars/<%= profile.id %>/<%= profile.avatar %>" alt="User Avatar" class="rounded-circle me-2" style="width: 40px; height: 40px;">
  <span class="text-light"><%= profile.username%></span>
  </div>
  </div>
  </header>
  <main class="d-flex pt-5 main-section flex-column bd-highlight container-fluid pt-5">
      
    <div class="toast-container position-fixed top-0 end-0 p-3 ">
     <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" class="bg-success">
      <div class="toast-header">
       <strong class="me-auto">successfully</strong>
      <small class="text-muted">just now</small>
       <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body" id="ToastMessage">
      Hello, world! This is a toast message.
      </div>
     </div>
    </div>
      
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="box box-group-name">
            <h5><i class="fas fa-users box-icon"></i>Group Name</h5>
            <p class="box-value"><%= group.name %></p>
          </div>

          <div class="box box-group-fund">
            <h5><i class="fas fa-dollar-sign box-icon"></i>Group Funds</h5>
            <p class="box-value"><%= group.funds %></p>
          </div>

          <div class="box box-group-link">
            <h5><i class="fas fa-link box-icon"></i>Group Link</h5>
            <p class="box-value"><a href="<%= group.link %>" class="text-decoration-none" ><%= group.name %></a></p>
          </div>

          <div class="box box-group-coming-funds">
            <h5><i class="fas fa-arrow-up box-icon"></i>Group Coming Funds</h5>
            <p class="box-value">$<%= group.pending %></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box box-user-balance">
            <h5><i class="fas fa-wallet box-icon"></i>User Balance</h5>
            <p class="box-value" id="balance">$<%= user.balance %></p>
          </div>

          <div class="box box-user-robux">
            <h5><i class="fas fa-coins box-icon"></i>User Total Buyed Robux</h5>
            <p class="box-value">$<%= user.buyedTotal %></p>
          </div>

          <div class="box box-user-transfer">
            <h5><i class="fas fa-exchange-alt box-icon"></i>User Last Transfer Account</h5>
            <p class="box-value" id="lastAccount"><%= user.lastTransactionsAccount ?? "None" %></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box box-guild-id">
            <h5><i class="fas fa-id-card box-icon"></i>Guild ID</h5>
            <p class="box-value"><%= guild.id %></p>
          </div>

          <div class="box box-guild-owner">
            <h5><i class="fas fa-user box-icon"></i>Guild Owner</h5>
            <p class="box-value"><%= owner %></p>
          </div>

          <div class="box box-guild-robux-price">
            <h5><i class="fas fa-dollar-sign box-icon"></i>Guild Robux Price</h5>
            <p class="box-value">$<%= data.price %></p>
          </div>

          <div class="box box-transfer-coins">
            <h5><i class="fas fa-exchange-alt box-icon"></i>Transfer Coins to Robux</h5>
            <button type="button" class="btn btn-primary btn-transfer" data-bs-toggle="modal"
              data-bs-target="#transferModal">Transfer</button>
          </div>
          
        </div>
      </div>
    </div>
    </main>
    
  <footer class="footer mt-auto py-3 border-top">
    <div class="container text-center">
      <span class="text-muted">Discord Bot Dashboard (Ziath | Slayer) &copy; 2023</span>
    </div>
  </footer>
  <!-- Transfer Modal -->
  <div class="modal fade" id="transferModal" tabindex="-1" aria-labelledby="transferModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-dark text-light">
        <div class="modal-header">
          <h5 class="modal-title" id="transferModalLabel">Transfer Coins</h5>
          <button type="button" class="btn-close bg-light close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="usernameInput" class="form-label">
                <i class="fas fa-user"></i> Username
              </label>
              <input type="text" class="form-control" id="usernameInput" placeholder="Enter username" autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="amountInput" class="form-label">
                <i class="fas fa-coins"></i> Amount
              </label>
              <input type="number" class="form-control" id="amountInput" placeholder="Enter amount"
                oninput="calculateBalance()">
            </div>
            <div class="mb-3">
              <label for="balanceOutput" class="form-label">Calculated Balance</label>
              <output id="balanceOutput" class="form-control"></output>
              <div class="alert alert-danger d-none mt-2" role="alert" id="transferError"></div> <!-- Added transferError element -->
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="transferButton">Transfer</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <script
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"></script>
  <script>
    
    const transferButton = document.getElementById('transferButton');
    const usernameInput = document.getElementById('usernameInput');
    const amountInput = document.getElementById('amountInput');
    const transferError = document.getElementById('transferError');

    transferButton.addEventListener('click', () => {
      const username = usernameInput.value;
      const amount = amountInput.value;
      
      const currentBalance = document.getElementById('balance');
      const balance =  parseFloat(currentBalance.innerText.slice(1))

      transferError.classList.add('d-none');
      
      if (username === '' || amount === '') {
        transferError.innerText = 'Username and amount cannot be empty.';
        transferError.classList.remove('d-none');
      } else if (amount > balance) {
        transferError.innerText = '"ou don't have enough ba.';
   "    transferError.classList.remove('d-none');
      } else {
        transferCoinsToRobux(username, amount, currentBalance);
      }
    });
    
    function transferCoinsToRobux(username, amount, currentBalance) {
      
      const apiUrl = 'https://bot-robux.glitch.me/api/t';
      
      const params = new URLSearchParams({
        username: username,
        id: <%= profile.id%>,
        amount: +amount
      });

      const urlWithParams = `${apiUrl}?${params}`;
      const authToken = 'YOUR_AUTH_TOKEN';

      const transferButton = document.getElementById('transferButton');
      transferButton.disabled = true;

      fetch(urlWithParams, { headers: { Authorization: `Bearer ${authToken}` }, method: 'post' })
      .then(response => response.json())
      .then(data => {
        
        if (data.error) {
          transferError.innerText = data.message;
          transferError.classList.remove('d-none');
          transferButton.disabled = false;
        } else if (data.done) {
          const toastLiveExample = document.getElementById('liveToast');
          const ToastMessage = document.getElementById('ToastMessage');
          const LastAccount = document.getElementById('lastAccount');   
          const toast = new bootstrap.Toast(toastLiveExample);
          
          ToastMessage.innerText = 'Transfer was successfully done to ' + username;
          currentBalance.innerText = '$'+ data.user.balance;
          LastAccount.innerText = username;
          
          $("#transferModal .close").click();
          toast.show();
          
        };
        
      });
     
    };
    
    function calculateBalance() {
      const amountInput = document.getElementById('amountInput');
      const balanceOutput = document.getElementById('balanceOutput');
      const transferButton = document.getElementById('transferButton');
      const transferError = document.getElementById('transferError');

      const currentBalance = document.getElementById('balance');
      const balance =  parseFloat(currentBalance.innerText.slice(1))
      const transferAmount = parseFloat(amountInput.value) || 0;
      const calculatedBalance = parseFloat(currentBalance.innerText.slice(1)) - transferAmount;


      balanceOutput.value = calculatedBalance;

      if (transferAmount <= 0) {
        transferButton.disabled = true;
        transferError.innerText = 'Transfer amount must be greater than zero.';
        transferError.classList.remove('d-none');
      } else if (transferAmount > balance) {
        transferButton.disabled = true;
        transferError.innerText = "You don't have enough balance.";
        transferError.classList.remove('d-none');
      } else {
        transferButton.disabled = false;
        transferError.classList.add('d-none');
      }
    }
  </script>
</body>
</html>